* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #00ffff;
}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header ul li a {
    text-decoration: none;
    font-size: 35px;
    color: sienna;
}
.fa-shop {
    font-size: 45px;
    color: cadetblue;
}
